#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --c-pink-btn: #d9d9d9;
  --c-pink-hover: #c3c3c3;
  --c-pink: #e2cabd;
  --c-grey: #c0c6d4;
  --c-backgroud-pink: #e55473;
}
/* body {
  background-color: rgb(54, 54, 54);
  color: rgb(206, 202, 202);
} */
@font-face {
  font-family: robotoRegular;
  src: url("./assets/fonts-roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: robotoMedium;
  src: url("./assets/fonts-roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: robotoBold;
  src: url("./assets/fonts-roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: robotoLight;
  src: url("./assets/fonts-roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: robotoBlack;
  src: url("./assets/fonts-roboto/Roboto-Black.ttf");
}
@font-face {
  font-family: robotoThin;
  src: url("./assets/fonts-roboto/Roboto-Thin.ttf");
}
/* Overlay vs Modal */

/* THis Home Page */
/*  */
/*  */

.header-home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.267);
  padding: 10px 50px 0;
}

.logo-home {
  font-family: cursive;
  font-weight: 300;
  user-select: none;
}
.btn-home {
  border: none;
  border-radius: 10px;
  background-color: var(--c-pink-btn);
  color: black;
  margin: 5px 10px;
  padding: 3px 7px;
}
.btn-home:hover {
  background-color: var(--c-pink-hover);
}

.body-home {
  margin-top: 100px;
}
.banner1-home {
  position: relative;
  /* background-color: wheat; */
  padding-top: 600px;
}

.banner__second1 {
  padding-top: 60%;
  background: url("./assets/img/abc.png") center center/cover no-repeat;
}
.banner__second2 {
  padding-top: 60%;
  background: url("./assets/img/fashionbannersc2.png") center center/cover
    no-repeat;
}

.banner__second3 {
  padding-top: 60%;
  background: url("./assets/img/shoesBannersecond.png") center center/cover
    no-repeat;
}
.banner__second1:hover,
.banner__second2:hover,
.banner__second3:hover {
  cursor: pointer;
  transform: scale(0.95, 0.95);
}

.btn-banner1 {
  font-family: monospace;
  border: 4px solid var(--c-pink-btn);
  font-size: 1.1rem;
  padding: 5px 10px;
  user-select: none;
  background-color: white;
}
.btn-banner1:hover {
  border: 4px solid var(--c-pink-hover);
}

.img1 {
  padding-top: 50%;
  background: url("./assets/img/img1.png") center center/cover no-repeat;
  width: 40%;
  margin: 0 0 30px 40px;
}
.des-1 h3 {
  font-family: monospace;
  margin-bottom: 30px;
}
.des-1 p {
  margin-bottom: 40px;
}
.posisonRela {
  position: relative;
  width: 100%;
  height: 100%;
}
.img2 {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  padding-top: 100%;
  z-index: 1;
  background: url("./assets/img/img2.png") center center/cover no-repeat;
}
.block1 {
  position: absolute;
  background-color: #e2cabd;
  height: 70%;
  width: 20%;
  left: 0;
  bottom: -5%;
}
.block2 {
  position: absolute;
  background-color: #c0c6d4;
  height: 70%;
  width: 20%;
  right: 2%;
  top: 10%;
}
.img4 {
  padding-top: 50%;
  background: url("./assets/img/dongho.jpg") center center/cover no-repeat;
  width: 40%;
  margin: 50px 0 30px 40px;
}
.des-2 {
  background-color: #dadee7;
  padding: 40px 50px 30px;
  position: relative;
}
.des-2 h3 {
  position: absolute;
  top: -8%;
}
.img3 {
  position: absolute;
  padding-top: 105%;
  background: url("./assets/img/img3.jpg") top center/cover no-repeat;
  width: 95%;
  right: -5%;
  bottom: 0;
  z-index: 1;
}
.block3 {
  position: absolute;
  left: 0;
  bottom: -5%;
  width: 95%;
  height: 75%;
  background-color: #d0af9c;
}

.home__end {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 20px;
}
.home__end input {
  width: 30%;
  padding: 5px 10px;
  margin-right: 20px;
}
.home__end button {
  padding: 5px 10px;
  border: none;
  color: white;
  background-color: #212121;
}
.footer__Home {
  background-color: #212121;
  padding: 30px 10px 20px;
}
.box-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 14px;
}
.box-footer p {
  margin-bottom: 5px;
}
.box-footer h6 {
  color: gray;
  font-family: monospace;
}

@media screen and (max-width: 992px) {
  .img2 {
    padding-top: 140%;
  }
  .img3 {
    padding-top: 140%;
    right: -10%;
  }
}
@media screen and (max-width: 767px) {
  .img2 {
    padding-top: 190%;
  }
  .img3 {
    padding-top: 200%;
    right: -10%;
  }
}
@media screen and (max-width: 540px) {
  .img2 {
    display: none;
  }
  .img3 {
    position: static;
    width: 100%;
    padding-top: 60%;
  }
  .block1,
  .block2,
  .block3 {
    display: none;
  }
  .rowToCol {
    display: flex;
    flex-direction: column;
  }
  .posisonRela {
    position: static;
  }
}
/*  */
/*  */

/* THis is Login page */
/*  */
/*  */
.logo-form-login {
  font-family: cursive;
  margin-bottom: 70px;
  text-align: center;
  user-select: none;
}
.loginform {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 40%;
  transform: translate(-50%, -50%);
  padding: 0 5%;
}
.box-input {
  position: relative;
}
.box-input > i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}
.box-input > input:focus {
  outline: none;
}
.box-input > input,
.register-form input {
  display: block;
  width: 100%;
  margin: auto;
  border: hidden;
  border-bottom: 5px solid var(--c-pink);
  padding: 5px 10px;
  margin-top: 20px;
}
.login_link-login {
  user-select: none;
  text-decoration: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  display: block;
  text-align: right;
  margin: 15px 0 30px;
}
.login_link-regis {
  text-align: right;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  /* margin-bottom: 40px; */
  color: black;
  font-size: 14px;
}

.btn-login {
  display: block;
  border: none;
  margin: 0 auto;
  padding: 5px 15%;
  font-family: monospace;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--c-pink-btn);
}
.btn-login:hover {
  background-color: var(--c-pink-hover);
}

/*  */
/*  */
/* This Register page */
/*  */
/*  */

.logo-regis {
  font-family: cursive;
  margin: 50px 0;
  text-align: center;
}
.register-form {
  width: 50%;
  margin: 0 auto;
  padding: 0 5%;
}
.register-form input:focus {
  outline: none;
}
.input_role {
  display: none !important;
}
.erorr-reg {
  color: red;
  font-size: 12px;
}

/*  */
/*  */

/* Modal check notification */
/*  */
/*  */

.check_notif-box {
  display: block;
  position: fixed;
  padding: 10px 20px;
  top: 0;
  right: 0;
  z-index: 2;
}

.on {
  animation: rightOn 1s;
}
.off {
  animation: rightOff 1s;
}
.notif-box-cs {
  padding: 15px 20px;
  border: 1px solid rgb(111, 170, 111);
  border-bottom: 5px solid rgb(97, 185, 97);
  background-color: white;
}
.notif-box-ucs {
  padding: 15px 20px;
  border: 1px solid rgb(180, 136, 136);
  border-bottom: 5px solid rgb(190, 102, 102);
  background-color: white;
}

.text_notifi-check {
  display: inline-block;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 0;
}
.text_notifi-sc {
  color: rgb(97, 185, 97);
}
.text_notifi-usc {
  color: rgb(190, 102, 102);
}

@keyframes rightOn {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rightOff {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(200px);
    opacity: 0;
  }
}

/* Header page */
/*  */
/*  */

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.logo__header-top {
  cursor: pointer;
  font-family: cursive;
  max-width: 25%;
  margin: 0;
}
.box__header-top {
  width: 75%;
}
.option__header-top {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
}
.phone__header {
  display: flex;
}
.icon-Phone {
  margin: 5px 10px 0 0;
}

.phone__header-text p {
  margin: 0;
  font-family: monospace;
  font-size: 13px;
}
.search__header-top {
  position: relative;
  width: 40%;
}
.search__header-top > input {
  width: 100%;
  border-radius: 20px;
  border: 1px solid black;
  padding: 5px 10px;
}
.search__header-top > i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateX(-50%);
}
.cart__header-top {
  display: flex;
  cursor: pointer;
}
.icon-cart {
  position: relative;
  padding: 5px 10px;
  margin: auto;
  /* margin-right: 5px; */
}
.quanlity__cart {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--c-backgroud-pink);
  border-radius: 60px;
  padding: 2px 6px;
}
.quanlity__cart p {
  margin: 0;
  font-size: 10px;
  color: white;
}
.text-cart > p {
  margin: 0;
  font-family: monospace;
  font-size: 14px;
}
.cart__price-icon {
  font-size: 12px;
  color: var(--c-backgroud-pink);
}
.user__header-top {
  position: relative;
  display: flex;
  max-width: 15%;
  cursor: pointer;
}

.user__text {
  margin: 0;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 10px;
}
.bars__header-top {
  display: none;
}
@media screen and (max-width: 960px) {
  .cart__header-top {
    display: none;
  }
  .user__header-top {
    display: none;
  }
  .phone__header {
    display: none;
  }
  .search__header-top {
    width: 60%;
  }
  .bars__header-top {
    display: block;
    cursor: pointer;
  }
  .modal-bars__header {
    list-style: none;
    position: absolute;
    width: 200px;
    background-color: #c3c3c3;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
  }
}
/* second header */
.header__second {
  border-top: 0.2px solid rgb(223, 223, 223);
}
.navbar__list {
  display: flex;
  list-style: none;
  font-family: monospace;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}
.navbar__list > li {
  text-align: center;
  min-width: 70px;
  padding: 10px 15px;
  font-weight: 550;
  border-radius: 5px;
}
.navbar__list > li:hover {
  cursor: pointer;
  background-color: var(--c-pink-hover);
}
/*  */
/*  */
/*  */
/* Banner */
/*  */
/*  */
/*  */
.banner__backgroud {
  background: url(./assets/img/banner.webp) top center/ cover no-repeat;
  padding-top: 35%;
  width: 100%;
  position: relative;
}
.banner__chil {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner__chil-box {
  display: flex;
  animation: bannerUp 2s;
}
.bannerOpent {
  animation: bannerUp 2s;
}
.bannerClose {
  animation: bannerclose 2s;
}
@keyframes bannerUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bannerclose {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.banner__description {
  flex-basis: 50%;
  flex-grow: 1;
  padding: 0 15px 0 0;
}
.banner__description > h6 {
  font-family: monospace;
}
.banner__description > span {
  display: block;
  background-color: var(--c-backgroud-pink);
  height: 4px;
  width: 50px;
  margin-bottom: 20px;
}
.banner__description > p {
  font-family: robotoRegular, sans-serif;
  font-size: 1rem;
}
.banner__description > button {
  background-color: var(--c-backgroud-pink);
  border: none;
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  font-size: 1rem;
}
.banner__img {
  flex-basis: 50%;
  flex-grow: 1;
  text-align: center;
  margin-left: 20px;
}
.banner__img > img {
  width: 60%;
}

@media screen and (max-width: 960px) {
  .banner__backgroud {
    padding-top: 50%;
  }
  .banner__img > img {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  .banner__backgroud {
    padding-top: 60%;
  }
  .banner__img > img {
    width: 100%;
  }
}
@media screen and (max-width: 580px) {
  .banner__backgroud {
    padding-top: 70%;
  }
  .banner__img > img {
    width: 100%;
  }
  .banner__description > h1 {
    font-size: 24px;
  }
  .banner__description > h6 {
    font-size: 16px;
  }
  .banner__description > p {
    font-size: 14px;
  }
}

/* banner option box */

/*  */
/*  */
/*  */

/* Product manager page */
.banner_manager {
  height: 100px;
  background-color: var(--c-pink-btn);
  text-align: center;
}
.banner_manager > h2 {
  font-family: monospace;
  font-size: 700;
  padding-top: 25px;
}
.banner_manager > h5 > a:hover {
  cursor: pointer;
  color: rgb(97, 60, 66) !important;
  text-decoration: underline !important;
}

.manager__control-box {
  padding: 30px 10px 15px;
  display: flex;
  justify-content: space-between;
}
.search__manager > input {
  border: 1px solid black;
  margin-right: 10px;
  border-radius: 20px;
  width: 250px;
  padding: 5px 15px;
}
.btn-manager {
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: var(--c-pink-btn);
}
.btn-manager:hover {
  background-color: var(--c-pink-hover);
}

.table__manager {
  width: 100%;
  margin-bottom: 20px;
  min-height: 316px;
}

.table__manager > tr:first-child {
  border-bottom: 2px solid black;
  text-align: center;
  height: 45px;
}

tbody tr {
  text-align: center;
  border-bottom: 0.1px solid gray;
}

.table__manager th {
  padding: 10px 0;
}
tbody tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
tbody tr:hover {
  background-color: var(--c-pink-hover);
}
.table__link {
  text-decoration: none;
  cursor: pointer;
  color: black;
  padding: 5px 10px;
}

/*  */
/*  */
/*  */
/* Modal Product */
.active-modal {
  overflow-y: hidden;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(128, 128, 128, 0.3);
  z-index: 1;
}
.modal__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
  width: 40%;
  z-index: 1;
}
.modal__box {
  padding: 20px 25px;
}
.modal__box h2 {
  margin-bottom: 15px;
}
.modal__box div {
  margin-bottom: 10px;
}
.modal__box input,
.modal__box textarea {
  width: 100%;
  border: none;
  border-bottom: 2px solid var(--c-pink);
  padding: 5px 10px;
}
.modal__box input:focus,
.modal__box textarea:focus {
  outline: none;
}
#fashion,
#shoes,
.modal__box span {
  width: auto;
  margin: 0 10px 10px 20px;
}
#image {
  border: none;
}

.modal__product-btn button {
  float: right;
  margin: 20px 5px 20px 15px;
  padding: 5px 10px;
  border: none;
  background-color: var(--c-pink-btn);
  border-radius: 15px;
}

.modal__product-btn button:hover {
  background-color: var(--c-pink-hover);
}
.error-ip {
  color: red;
  font-size: 12px;
}

.product__box {
  margin-top: 50px;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
